 
 <header class="nav">
    <h1 class="title__start animate-fade-up">Sistema gestión de cafeterias</h1>
    <div class="container__continue animate" (click)="continue()">
       <loading *ngIf="isLoading"></loading> <span *ngIf="!isLoading">START</span><img *ngIf="!isLoading" src="../../../assets/imgs/icons/arrow_forward_ios_black_24dp.svg" alt="">
    </div>
 </header>
 
 <section class="pagination__container">
    <article class="container__button__back" (click)="backImage()">
        <img src="../../../assets/imgs/icons/arrow_back_ios_white_24dp.svg" alt="">
    </article>
    <article class="container__images animate">
        <img [src]="images[currentImage].name" alt="">
    </article>

    <article class="container__button__next" (click)="nextImage()">
        <img src="../../../assets/imgs/icons/arrow_forward_ios_white_24dp.svg" alt="">
    </article>
    <article class="container__points">
        <div [ngStyle]="{'background-color': currentImage==0?'rgb(116, 86, 86)':'white'}" (click)="currentImage=0"></div>
        <div [ngStyle]="{'background-color': currentImage==1?'rgb(116, 86, 86)':'white'}" (click)="currentImage=1"></div>
        <div [ngStyle]="{'background-color': currentImage==2?'rgb(116, 86, 86)':'white'}" (click)="currentImage=2"></div>
    </article>
 </section>
 
 