<!-- menu -->
<section class="container-menu-home">

    <div class=" logo-menu  animate">
        <img src="../../../assets/imgs/chocolate.png" class="animate" alt="logo">
    </div>


    <article class="user animate">
        <div class="img">
            <img class="animate" src="../../../assets/imgs/icons/person_pin_white_24dp.svg" alt="logo">
       
        </div>
        <h1>{{username}}</h1>
        <p>{{userEmail}}</p>
     </article>


    <article class="title-menu-home animate-fade-down">
        <h1>Gestión de cafeteria</h1>
    </article>

   
</section>
 
<div class="message-error animate-fade-down" [hidden]="!isAdmin">Usted no tiene suficiente privilegios</div>


<div class="container__menu"  >

        
    <section class="menu"  >
            
        <article class="menu__item " (click)="routeToCustomers()">
            <div class="menu-animation-in">
                <img class="animate" src="../../../assets/imgs/icons/group_add_white_24dp.svg" alt="logo">
            </div>
            <p class="menu-animation-in">Clientes</p>
        </article>

        <article class="menu__item  ">
            <div class="menu-animation-in">
                <img class="animate" src="../../../assets/imgs/icons/menu.png" alt="logo">
            </div>
            <p class="menu-animation-in">Gestion de menu</p>
        </article>

        <article class="menu__item menu-animation-in  " (click)="routeToSales()">
            <div class="menu-animation-in">
                <img class="animate" src="../../../assets/imgs/icons/add_shopping_cart_white_24dp.svg" alt="logo">
            </div>
            <p>Realizar ventas</p>
        </article>


        <article class="menu__item" (click)="routeToEmployee()">
            <div class="menu-animation-in">
                <img class="animate" src="../../../assets/imgs/icons/employee_white.svg" alt="logo">
            </div>
            <p class="menu-animation-in">Gestion empleados</p>
        </article>

        <article class="menu__item" (click)="routeToUsers()">
            <div class="menu-animation-in">
                <img class="animate" src="../../../assets/imgs/icons/manage_accounts_white_24dp.svg" alt="logo">
            </div>
            <p class="menu-animation-in">Gestion usuarios</p>
        </article>
 
        <article class="menu__item menu-animation-in   ">
            <div class="menu-animation-in">
                <img class="animate" src="../../../assets/imgs/icons/fact_check_white_24dp.svg" alt="logo">
            </div>
            <p class="menu-animation-in">Historial de ventas</p>
        </article>

       
        
        <article class="close-session">
            <button (click)="closeSesion()">Cerrar sesión</button>
        </article>

    
    </section>
</div>


 
<!-- routes -->

 