 
<br>
<!-- menu floating -->
<app-menu-float></app-menu-float>
 <br>


 <!-- all category -->
<section class="categories__container">

    <article class="category" *ngFor="let category of allCategory"  >
        <div class="title"><h1>{{category.nombre}}</h1></div>
        <div class="search" >
            <input type="search" placeholder="Search">
        </div>
        <div *ngFor="let article of allArticles">
            <div class="row__articles" *ngIf="article.idCategoria==category.id" >
                <h1>{{article.nombre}}</h1>
                <p>{{article.precio|currency}}</p>
            </div>
        </div>
       

         
       
    </article>

</section>

<!-- new category -->
<section class="container__add__article__buttons" *ngIf="existsSelectionActions==true">
    <article class="buttons__add">
       
        <div class="button">
            <img src="../../../assets/imgs/icons/category_white_24dp.svg" alt="add">
            <p>Categoria</p>
        </div>

        <div class="button">
            <img src="../../../assets/imgs/icons/lunch_dining_white_24dp.svg" alt="add">
            <p>Plato</p>
        </div>

        <div class="button close_red" (click)="existsSelectionActions=false">
            <img src="../../../assets/imgs/icons/clear_white_18dp.svg" alt="add"> 
        </div>
    </article>
</section>

<!-- new button -->
 
    <article class="buttons__add_menus">
       
        <div class="button white__add" (click)="existsSelectionActions=true">
            <img src="../../../assets/imgs/icons/add.svg" alt="add"> 
        </div>
 
    </article>
 

<style>
    
   
</style>