 
<br>
<!-- menu floating -->
<app-menu-float></app-menu-float>
 <br>

<div>
    <h1 class="title menu-title">Menú</h1>
</div>
 <!-- all category -->
<section class="categories__container animatemenu">

    <article class="category" *ngFor="let category of allCategory"  >
        <div class="title"><h1>{{category.nombre}}</h1></div>
        <div class="search" >
            <input type="search" #data (keyup)="searchUser(data.value)" placeholder="Search">
        </div>
        <div *ngFor="let article of allArticles">
            <div class="row__articles" *ngIf="article.idCategoria==category.id" >
                <h1>{{article.nombre}}</h1>
                <p>{{article.precio|currency}}</p>
            </div>
        </div>
       

         
       
    </article>

</section>

<!-- new category -->
<section class="container__add__article__buttons" *ngIf="existsSelectionActions==true">
    <article class="buttons__add">
       
        <div class="button" (click)="openAndCloseSelectionForCategory()">
            <img src="../../../assets/imgs/icons/category_white_24dp.svg" alt="add">
            <p>Categoria</p>
        </div>

        <div class="button" (click)="openAndCloseSelectionForPlate()">
            <img src="../../../assets/imgs/icons/lunch_dining_white_24dp.svg" alt="add">
            <p>Plato</p>
        </div>

        <div class="button close_red" (click)="existsSelectionActions=false">
            <img src="../../../assets/imgs/icons/clear_white_18dp.svg" alt="add"> 
        </div>
    </article>
</section>

<!-- new button -->
 
    <article class="buttons__add_menus animatebuttonadd">
       
        <div class="button white__add" (click)="existsSelectionActions=true">
            <img src="../../../assets/imgs/icons/add.svg" alt="add"> 
        </div>
 
    </article>
 



    <!-- window new category -->
<section class="container__window__newcategory"  *ngIf="exists_window_addcategory" >
    <article class="container__items animate">
      
        <input type="text" [(ngModel)]="categoryDataInput" placeholder="Categoria nueva"  >
        <button (click)="postCategory()">Nueva</button>
        <button class="cancel__window__categorybutton" (click)="exists_window_addcategory=false">Cancel</button>
    </article>
</section>


<!-- new plate -->
<section class="container__window__new__plate" *ngIf="exist__window__add__plate">
    <article class="container__items__window__new__plate animate">
        <div>
            <h1>Nuevo plato</h1>
        </div>
  
      
        <select  [(ngModel)]="articleSelected">
            <option  selected>Seleccione una categoria</option>
            <option *ngFor="let article_ of allCategory" [value]="article_.id">{{article_.nombre}}</option>
        </select> 

        <input type="text" placeholder="Plato nuevo"   [(ngModel)]="plateSelected"  >
        <input type="number" placeholder="Precio" [(ngModel)]="platePriceSelected" >
        <button (click)="addNewPlate()">Nuevo</button>
        
        <button class="cancel__window__newplatebutton" (click)="exist__window__add__plate=false">Cancel</button>
    </article>
</section>

 
<style>
  
</style>