h1{
    margin:0;
    padding:0;
    color:#222;
    margin-top: 5px;
}
.logo-menu {
    text-align: center;
    padding-top: 30px;
    margin-top: -20px;

}
.logo-menu img{
    width:55px;
    height: 55px;
    
}
.add__new__client__button{
    width: 60px;
    height: 60px;
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    top:3%;
    border-radius: 16px;
    margin-left: 10px;

    background-color: rgb(189, 189, 200);
    transition: .3s;
    cursor: pointer;
}
.add__new__client__button:hover{
    background-color: #ddd;
}
.add__new__client__button img{
    width: 40px;
}
.container-menu-home{
    background-color: white;
    box-shadow: 1px 1px 6px grey;
    max-width: 100vw;
    margin-bottom: 10px;
    height: 120px;
  
    border-bottom-left-radius: 8px;
    border-bottom-right-radius: 8px;
}

.title-menu-home{
    padding-left: 0px;
    text-align: center;
    padding-top: 0px;
    margin-top: 0px;
    color: whitesmoke;
    font-family:    'Lucida Sans', Arial, sans-serif;
}



/* categories */

.categories__container{
    display: flex;  
    margin-top: 30px;
  justify-content: center;
    align-items: center;
    flex-wrap: wrap;  
} 
.category{
    margin-left:20px;
    margin-bottom: 10px;
    
    border-radius: 10px;
    height: 430px;
    width: 330px;
    box-shadow: 1px 1px 5px rgb(66, 64, 64);
    /* background-color: rgba(29, 29, 156, 0.916); */
}
.title{
    text-align: center;
    margin-bottom: 20px;
}
.title h1{
    color: #444;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
.search{
    text-align: center;
    margin-bottom: 10px;
}
.search input{
    padding: 5px 0;
    border-radius: 5px;
    background-color: #eee;
    border:none;
    padding-left: 8px;
    width: 230px;
}
.row__articles{
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: white;
    padding: 0 8px;
    margin-top: 3px;
   border-bottom: 1px solid #888;
    margin-bottom: 3px;
    /* background-color: whitesmoke); */
  
}

.row__articles p{
    padding-left: 5px;
    padding-right: 5px;
    padding-top: 5px;
    border-radius: 7px;
    padding-bottom: 5px;
    width: 90px;
    text-align: center;
    background-color: rgb(110, 109, 112);
}
.row__articles h1{
    color: #333;
    font-size:18px;
    font-weight: 500;
 
}


 /* add category button */
 .container__add__article__buttons{
    width: 100%;
    position: absolute;
    height: 100%;
    top:0;
    
    bottom:0;
    left:0;
    z-index: 10;
    right: 0;
    background-color: rgba(255, 255, 255, 0.945);
}

.buttons__add{
    
    width: 180px;
   
    position: absolute;
    bottom:2%;
    right: 0;
    /* background-color: blue; */
    display: flex;  
    justify-content: center;
    flex-direction: column;
    align-items: center;
    padding-bottom: 8px;
}
.buttons__add_menus{
    width: 180px;
    
    position: fixed;
    bottom:2%;
    right: 0;
    /* background-color: blue; */
    display: flex;  
    justify-content: center;
    flex-direction: column;
    align-items: center;
    padding-bottom: 8px;
}
.button{
    width: 90px;
    display: flex;  
    margin-top: 8px;
    justify-content: center;
    flex-wrap: wrap;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    cursor: pointer;
    height: 90px;
    background-color: rgb(15, 15, 166);
    border-radius: 50%;
    font-size: 13px;
    transition: .5s;
    animation: spiraldown .2s linear;
}
@keyframes spiraldown {
    from{
        opacity: 0;
        transform: translateY(20px);
    }
    to{
        opacity: 1;
        transform: translateY(0);
    }
}
.button:hover{
    background-color: rgb(7, 7, 224);
}
.button p{
    color:white;
    font-size: 12px;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 600;
}
.button img{
    width: 30px;
}
.close_red{
background-color: rgba(209, 38, 38, 0.804);


}
.close_red:hover{
background-color: rgba(168, 22, 22, 0.886);
}

.white__add{

background-color: blue;
width: 70px;
height: 70px;
}
.white__add:hover{

background-color: rgb(14, 14, 181);
}