<section class='container-menu-home'>

    <div class="logo-menu animate">
        <img src="../../../assets/imgs/icons/employee_black_24dp.svg" alt="logo">
    </div>

 

    <article class="title-menu-home">
        <h1 class="animate-fade-up">Gestión de empleados</h1>
    </article>

   
</section>
<app-menu-float color="red"></app-menu-float>

 
<div class="add__new__client__button"  (click)="exist__window__add=true">
    <img src="../../../assets/imgs/icons/add_black_24dp.svg" alt="add">
</div>

<!-- select option -->
<section class="select__option" *ngIf="existMenuSelection">

 
    <article class="option__container">
        
       
        <div class="option__item animate-fade-up">
            <img src="../../../assets/imgs/icons/visibility_white_24dp.svg" alt="edit image" (click)="activatedAndDisableSelection()">
        </div>

        <div class="option__item animate-fade-up">
            <img src="../../../assets/imgs/icons/edit_white_18dp.svg" alt="edit image" (click)="openAndCloseMenuSelection()">
        </div>

        <div class="option__item animate-fade-up">
            <img src="../../../assets/imgs/icons/delete_outline_white_24dp.svg" alt="" (click)="deleteEmployee()">
        </div>

        
        <div class="option__item animate-fade-up" (click)="existMenuSelection=false">
            <img src="../../../assets/imgs/icons/clear_white_18dp.svg" alt="">
        </div>


       
    </article>

</section>





 <!-- aggregar usuario -->
 <section class="container__customers" >
   
    <article class="container__add" *ngIf="exist__window__add">
       
         <div class="container__inputs animate">
           
            <h1 class="title ">Agregar empleado</h1>
            <div *ngIf="isFormValidated=='false'" class="message-error animate">Todos los campos son requeridos</div>
     
            <p class="placeholder__user ">Nombre</p>
            <input type="text" placeholder="Nombre completo" [(ngModel)]="formName">        

            <p class="placeholder__user">Email</p>
            <input type="email" placeholder="Email" [(ngModel)]="formEmail">
            
            <p class="placeholder__user">Cédula</p>
            <input type="text" placeholder="Cedula"  [(ngModel)]="formEmployeeCedula">

            <p class="placeholder__user">Tanda</p>
            <select name="estado" class="state"  [(ngModel)]="formEmployeeTanda">
                <option value="Diurno">Diurno</option>
                <option value="Nocturno">Nocturno</option>
            </select>

            <p class="placeholder__user">Estado</p>
            <select name="estado" class="state"  [(ngModel)]="formState">
                <option value="Activo">Activo</option>
                <option value="Inactivo">Inactivo</option>
            </select> 

            <p class="placeholder__user" >Cargo</p>

            <input list="brow" class="state" [(ngModel)]="formEmployeeCargo">
                <datalist id="brow">
                <option value="Empleados de cocina">
                <option value="Mesero">
                <option value="Servicio al cliente">
                <option value="Gerente de ventas">
                <option value="Gerente">
                <option value="Jefe de recursos humanos"></option>
            </datalist>  
            
            
            <button class="btn-add"  (click)="postEmployee()">Agregar</button>
            <button class="btn-cancel" (click)="exist__window__add=false">Cancelar</button>
           
        </div>
    
    </article>
 
</section>

<section class="card__users">
  <!-- employee card -->
  <article class="card__user animate" *ngFor="let employee of employees" (click)="openCardEmployee(employee)"> 
    <div class="container__avatar animate">
        <img src="../../../assets/imgs/icons/account_black.svg" alt="" [hidden]="exist__window__add==true">
    </div>    

    <div class="container__title__user">
        <h1>{{employee.nombre}}</h1>
    </div>
    <div class="table__data table__fake">  </div>
    <div class="table__data">
        <p class="table__data__title animate">CÉDULA</p>
        <p class="table__data__value animate">{{employee.cedula}}</p>
    </div>
 
    <div class="table__data">
        <p class="table__data__title animate">TANDA  </p>
        <p class="table__data__value animate">{{employee.tanda}}</p>
    </div>
   
    <div class="table__data">
        <p class="table__data__title animate">Estado</p>
        <p class="table__data__value animate active" *ngIf="employee.estado=='Activo'">{{employee.estado}}</p>
        <p class="table__data__value animate inactive" *ngIf="employee.estado!='Activo'">{{employee.estado}}</p>
      
    </div>
</article>
</section>

<!-- show employee -->
<section class="container__main__show__employee" *ngIf="isActiveShowEmployee==true">
    
    <article class="card__employee__show animate-fade-up" >
        <div class="container__avatar__show__employee animate">
            <img src="../../../assets/imgs/icons/account_black.svg" alt="" [hidden]="exist__window__add==true">
        </div>  
        <div class="container__title__user">
            <h1>{{formEditName}}</h1>
        </div>

        <div class="table__data table__fake"></div>

        <div class="table__data">
            <p class="table__data__title animate">ESTADO</p>
            <p class="table__data__value animate active"  >{{formStateEdit}}</p>
        </div>

        <div class="table__data">
            <p class="table__data__title animate">CÉDULA</p>
            <p class="table__data__value animate"  >{{formEditEmployeeCedula}}</p>
        </div>

        <div class="table__data">
            <p class="table__data__title animate">TANDA</p>
            <p class="table__data__value animate"  >{{formEditEmployeeTanda}}</p>
        </div>

        <div class="table__data">
            <p class="table__data__title animate">CARGO</p>
            <p class="table__data__value animate"  >{{formEditEmployeeCargo}}</p>
        </div>

        <div class="table__data">
            <p class="table__data__title animate">EMAIL</p>
            <p class="table__data__value animate"  > {{formEditEmail}}</p>
        </div>

        <div class="table__data">
            <p class="table__data__title animate">FECHA INGRESO</p>
            <p class="table__data__value animate"  > {{formEmployeeDatePost}}</p>
        </div>

        <div class="close__show__employee">
            <button (click)="isActiveShowEmployee=false">OK</button>
        </div>
    </article>
  
</section>

<style>
 
</style>

 <!-- editar usuario -->
 <section class="container__customers" *ngIf="exist__window__edit">
   
    <article class="container__add"  >
       
         <div class="container__inputs  edit__window" >
           
            <h1 class="title animate">Editar empleado</h1>
            <div *ngIf="isFormValidated=='false'" class="message-error animate">Todos los campos son requeridos</div>
     
            <p class="placeholder__user ">Nombre</p>
            <input type="text" placeholder="Nombre completo" [(ngModel)]="formEditName">        

            <p class="placeholder__user">Email</p>
            <input type="email" placeholder="Email" [(ngModel)]="formEditEmail">
            
            <p class="placeholder__user">Cédula</p>
            <input type="text" placeholder="Cedula"  [(ngModel)]="formEditEmployeeCedula">

            <p class="placeholder__user">Tanda</p>
            <select name="estado" class="state"  [(ngModel)]="formEditEmployeeTanda">
                <option value="Diurno">Diurno</option>
                <option value="Nocturno">Nocturno</option>
            </select>

            <p class="placeholder__user">Estado</p>
            <select name="estado"   class="state"  [(ngModel)]="formStateEdit">
                <option value="Activo">Activo</option>
                <option value="Inactivo">Inactivo</option>
            </select>

            <p class="placeholder__user" >Cargo</p>

            <input list="brow" class="state" [(ngModel)]="formEditEmployeeCargo">
                <datalist id="brow">
                <option value="Empleados de cocina">
                <option value="Mesero">
                <option value="Servicio al cliente">
                <option value="Gerente de ventas">
                <option value="Gerente">
                <option value="Jefe de recursos humanos"></option>
            </datalist>  
            
            <button class="btn-add"   (click)="updateEmployee()">EDITAR</button>
            <button class="btn-cancel" (click)="exist__window__edit=false">Cancelar</button>
           
        </div>
    
    </article>

    
 
 

</section>