<section class="container__menu">
    <article class="container__item__float">
        
        <div class="item animate " (click)="to('home')">
           <img  class="" src="../../../assets/imgs/icons/home_white_24dp.svg">
           
        </div>

        <div class="item animate " (click)="to('customers')"  >
            <img class=""  src="../../../assets/imgs/icons/person_add_alt_white_24dp.svg">
         </div>

         <div class="item animate " (click)="to('users')" *ngIf="isAdmin==='Admin'">
            <img  class="" src="../../../assets/imgs/icons/manage_accounts_white_24dp.svg">
         </div>

         <div class="item animate " (click)="to('employee')" *ngIf="isAdmin==='Admin'">
            <img  class="" src="../../../assets/imgs/icons/employee_white.svg">
         </div>

         <div class="item animate " (click)="to('home')">
            <img  class="" src="../../../assets/imgs/icons/menu_book_white_24dp.svg">
         </div>

         <div class="item animate " (click)="to('home')">
            <img  class="" src="../../../assets/imgs/icons/add_shopping_cart_white_24dp.svg">
         </div>

         <div class="item animate " (click)="to('home')">
            <img  class="" src="../../../assets/imgs/icons/fact_check_white_24dp.svg">
         </div>
    </article>
</section>
 