.container__menu{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 5px;
 
}
.container__item__float{
    width: 400px;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgb(233, 233, 240);;
    border-radius: 40px;
}
.item{
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    margin: 0 8px;
    border-radius: 50%;
  
    width: 34px;
    height: 34px;
    background-color: rgb(146, 144, 150);
}
.item:hover{
    opacity: .8;
    transition: .5s;
}
.item img{
    transform: scale(.9);
}

 