h1{
    margin:0;
    padding:0;
    color:#222;
    font-size: 19px;
    margin-top: 5px;
}
.logo-menu {
    text-align: center;
    padding-top: 30px;
    margin-top: -20px;

}
.logo-menu img{
    width:55px;
    height: 55px;
    
}
.add__new__client__button{
    width: 60px;
    height: 60px;
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    top:3%;
    border-radius: 16px;
    margin-left: 10px;

    background-color: rgb(189, 189, 200);
    transition: .3s;
    cursor: pointer;
}
.add__new__client__button:hover{
    background-color: #ddd;
}
.add__new__client__button img{
    width: 40px;
}
.container-menu-home{
    background-color: white;
    box-shadow: 1px 1px 6px grey;
    max-width: 100vw;
    margin-bottom: 10px;
    height: 120px;
  
    border-bottom-left-radius: 8px;
    border-bottom-right-radius: 8px;
}

.title-menu-home{
    padding-left: 0px;
    text-align: center;
    padding-top: 0px;
    margin-top: 0px;
    color: whitesmoke;
    font-family:    'Lucida Sans', Arial, sans-serif;
}
