.container__spinning__loading{
    display: flex;
    justify-content: center;
    align-items: center;
}    
.spinning__loading{
    width: 30px;
    height: 30px;
    border-radius: 50%;
    margin-top: 10px;
    border-left:3px solid rgb(38, 74, 192); 
    animation: scaleOnScale .6s infinite linear;
    margin-bottom: 8px;
}


@keyframes scaleOnScale {
    from{
        transform: rotate(-360deg);
    }
    to{
        transform: rotate(0);
    }
}