<section class='container-menu-home'>

    <div class="logo-menu animate">
        <img src="../../../assets/imgs/icons/manage_accounts_white_24dp.svg" alt="logo">
    </div>

 

    <article class="title-menu-home">
        <h1 class="animate-fade-up">Gestión de usuarios</h1>
    </article>

   
</section>
<app-menu-float color="red"></app-menu-float>

 
<section class="card__users">
    <input type="search" class="search__user" placeholder="Search">
    <article class="card__user">  </article>
    <article class="card__user">  </article>
    
    <article class="card__user">  </article>
    <article class="card__user">  </article>
</section>
 
<style>
    .card__users{
        display: flex;
        justify-content: center;
        align-items: center;
        flex-wrap: wrap;
        margin-top: 10px;
      
    }
  
    .search__user{
        width: 75%;
        margin-bottom: 15px;
        border-radius: 5px;
        border: 1.5px solid #eee;
        padding: 10px 10px 10px 10px;
    }
    .card__user{
        width: 310px;
        margin: 10px;
        height: 350px;
        border-radius: 10px;
        background-color: rgb(237, 224, 224)
    }
</style>
<section class="container__customers" >
   
    <article class="container__add" *ngIf="exist__window__add">
       
         <div class="container__inputs animate">
           
            <h1 class="title ">Nuevo usuario</h1>
            <div *ngIf="isFormValidated=='false'" class="message-error animate">Todos los campos son requeridos</div>
    
         
           
            <p class="placeholder__user ">Nombre</p>
            <input type="text" placeholder="Nombre completo" [(ngModel)]="formName">
        

            <p class="placeholder__user">Email</p>
            <input type="email" placeholder="Email" [(ngModel)]="formEmail">
            
            <p class="placeholder__user">Estado</p>
            <select name="estado"   class="state" [(ngModel)]="formState">
                <option  value="Activo">Activo</option>
                <option value="Inactivo">Inactivo</option>
            </select>
            <p class="placeholder__user">Privilegios</p>
            <select name="privilegios"  [(ngModel)]="formUserType" class="state">
                <option  value="Admin">Administrador</option>
                <option value="Usuario">Usuario</option>
            </select>
            <p class="placeholder__user">Clave</p>
            <input type="password" [(ngModel)]="formPass" placeholder="Password">
       
            <button class="btn-add" (click)="postUser()">Agregar</button>
            <button class="btn-cancel" (click)="exist__window__add=false">Cancelar</button>
           
        </div>
    
    </article>

    
 
 

</section>

 