<section class='container-menu-home'>

    <div class="logo-menu animate">
        <img src="../../../assets/imgs/icons/manage_accounts_white_24dp.svg" alt="logo">
    </div>

 

    <article class="title-menu-home">
        <h1 class="animate-fade-up">Gestión de usuarios</h1>
    </article>

   
</section>
<app-menu-float color="red"></app-menu-float>

<div class="add__new__client__button" (click)="this.exist__window__add=true">
    <img src="../../../assets/imgs/icons/add.svg" alt="add">
</div>


<!-- select option -->
<section class="select__option" *ngIf="existMenuSelection">

    <article class="option__container">
        
       

        <div class="option__item animate-fade-up">
            <img src="../../../assets/imgs/icons/edit_white_18dp.svg" alt="edit image" (click)="openAndCloseMenuSelection()">
        </div>

        <div class="option__item animate-fade-up">
            <img src="../../../assets/imgs/icons/delete_outline_white_24dp.svg" alt="" (click)="deleteUser()">
        </div>

        
        <div class="option__item animate-fade-up" (click)="existMenuSelection=false">
            <img src="../../../assets/imgs/icons/clear_white_18dp.svg" alt="">
        </div>


       
    </article>

</section>

<section class="card__users">

    <!-- search user -->
    <input type="search"   class="search__user" placeholder="Search"  #data (keyup)="searchUser(data.value)" >
    <div class="management__data animate">
        <button  ><img src="../../../assets/imgs/icons/arrow_back.svg" alt=""></button>
        <p> {{ '1'  }}</p> <p> of </p> <p> {{ '2' }} </p>
        <button  ><img src="../../../assets/imgs/icons/arrow_next.svg" alt=""></button>
        <button  ><img src="../../../assets/imgs/icons/" alt=""></button>
    
    </div>  
    <!-- user card -->
    <article class="card__user animate" *ngFor="let user_ of users|slice:0:3" (click)="openCardUser(user_)"> 
        <div class="container__avatar animate">
            <img src="../../../assets/imgs/icons/account_black.svg" alt="">
        </div>    

        <div class="container__title__user">
            <h1>{{user_.nombre}}</h1>
        </div>
        <div class="table__data table__fake">
           
        </div>
        <div class="table__data">
            <p class="table__data__title animate">EMAIL</p>
            <p class="table__data__value animate">{{user_.email}}</p>
        </div>
        <div class="table__data">
            <p class="table__data__title animate">ESTADO</p>
            <p class="table__data__value animate active" *ngIf="user_.estado=='Activo'">{{user_.estado}}</p>
            <p class="table__data__value animate inactive" *ngIf="user_.estado=='Inactivo'">{{user_.estado}}</p>
        </div>
        <div class="table__data">
            <p class="table__data__title animate">PRIVILEGIO</p>
            <p class="table__data__value animate">{{user_.tipoDeUsuario}}</p>
        </div>
        <div class="table__data">
            <p class="table__data__title animate">CLAVE ACCESO</p>
            <p class="table__data__value animate">protegido</p>
        </div>
    </article>
   
   
    
</section>
 <style>
  
 </style>
 
 <!-- aggregar usuario -->
<section class="container__customers" >
   
    <article class="container__add" *ngIf="exist__window__add">
       
         <div class="container__inputs animate">
           
            <h1 class="title ">Nuevo usuario</h1>
            <div *ngIf="isFormValidated=='false'" class="message-error animate">Todos los campos son requeridos</div>
      
            <p class="placeholder__user ">Nombre</p>
            <input type="text" disabled="" placeholder="Nombre completo" [(ngModel)]="formName">
         
            <p class="placeholder__user">Email</p>
            <select name="emails_charged" class="state"  [(ngModel)]="formEmail" (change)="addFromEmployee( )" >
                <option class="state" *ngFor="let employee of employees"  [value]="employee.emails" >{{employee.estado=='Activo' ? employee.emails:employee.emails+' (INACTIVO)'}}</option>                
            </select>
          
            <p class="placeholder__user">Estado</p>
            <select name="estado"   class="state" [(ngModel)]="formState">
                <option  value="Activo">Activo</option>
                <option value="Inactivo">Inactivo</option>
            </select>

            <p class="placeholder__user" >Privilegios</p>
            <select name="privilegios"  [(ngModel)]="formUserType" class="state">
                <option  value="Admin">Administrador</option>
                <option value="Usuario">Usuario</option>
            </select>
            <p class="placeholder__user">Clave</p>
            <input type="password" [(ngModel)]="formPass" placeholder="Password">
       
            <button class="btn-add" (click)="postUser()">Agregar</button>
            <button class="btn-cancel" (click)="exist__window__add=false">Cancelar</button>
           
        </div>
    
    </article>
 
</section>



 <!-- editar usuario -->
 <section class="container__customers" *ngIf="exist__window__edit">
   
    <article class="container__add"  >
       
         <div class="container__inputs animate edit__window" >
           
            <h1 class="title ">Editar usuario</h1>
            <div *ngIf="isFormValidated=='false'" class="message-error animate">Todos los campos son requeridos</div>
    
         
           
            <p class="placeholder__user ">Nombre</p>
            <input type="text" placeholder="Nombre completo" [(ngModel)]="formEditName">
        

            <p class="placeholder__user">Email</p>
            <input type="email" placeholder="Email" [(ngModel)]="formEditEmail">
            
            <p class="placeholder__user">Estado</p>
            <select name="estado"   class="state" [(ngModel)]="formStateEdit">
                <option  value="Activo">Activo</option>
                <option value="Inactivo">Inactivo</option>
            </select>
            <p class="placeholder__user">Privilegios</p>
            <select name="privilegios"  [(ngModel)]="formUserTypeEdit" class="state">
                <option  value="Admin">Administrador</option>
                <option value="Usuario">Usuario</option>
            </select>
            <p class="placeholder__user">Clave</p> 
            <input type="text" [(ngModel)]="formPassEdit" placeholder="Password">
       
            <button class="btn-add" (click)="updateUser()" >EDITAR</button>
            <button class="btn-cancel" (click)="exist__window__edit=false">Cancelar</button>
           
        </div>
    
    </article>

    
 
 

</section>
