<section class='container-menu-home'>

    <div class="logo-menu animate">
        <img src="../../../assets/imgs/icons/manage_accounts_white_24dp.svg" alt="logo">
    </div>

 

    <article class="title-menu-home">
        <h1 class="animate-fade-up">Gestión de usuarios</h1>
    </article>

   
</section>
<app-menu-float color="red"></app-menu-float>



<div *ngIf="isFormValidated=='false'" class="message-error animate">Todos los campos son requeridos</div>
      
<!--<loading></loading> -->

<section class="container__customers" >
   
    <article class="container__add" *ngIf="exist__window__edit">

         <div class="container__inputs animate">
           
            <h1 class="title ">Nuevo usuario</h1>
            <hr>

            <p class="placeholder__user ">Nombre</p>
            <input type="text" placeholder="Nombre completo" [(ngModel)]="formName">
        

            <p class="placeholder__user">Email</p>
            <input type="email" placeholder="Email" [(ngModel)]="formEmail">
            
            <p class="placeholder__user">Estado</p>
            <select name="estado"   class="state">
                <option  value="Activo">Activo</option>
                <option value="Inactivo">Inactivo</option>
            </select>
            <p class="placeholder__user">Privilegios</p>
            <select name="privilegios"   class="state">
                <option  value="Admin">Administrador</option>
                <option value="Usuario">Usuario</option>
            </select>
            <p class="placeholder__user">Clave</p>
            <input type="password" placeholder="Password">
       
            <button class="btn-add">Agregar</button>
            <button class="btn-cancel" (click)="exist__window__edit=false">Cancelar</button>
           
        </div>
    
    </article>

    

  
    <!-- edit customer -->
 
    <article class="container__edit animate" *ngIf="existContainerEdit==true">
      

        <div class="container__logo__edit">
            <img src="../../../assets/imgs/icons/edit_white_24dp.svg" alt="">
        </div>
        
        <div class="container__title__edit">
            <h1>Editar</h1>
        </div>


        
        <div class="container__inputs__edit ">
            <p>ID</p>
            <input type="number"  disabled  placeholder="ID" [(ngModel)]="formEditId">

            <p>Nombre</p>
            <input type="text" placeholder="Name" [(ngModel)]="formEditName">
            <p>Email</p>
            <input type="email" placeholder="Email" [(ngModel)]="formEditEmail">
        </div>


        <div class="container__buttons__edit">
            <button class="edit__btn"  >Editar
                <span> </span>
                <img src="../../../assets/imgs/icons/edit_white_24dp.svg" alt="">
            </button>
            <button class="delete__btn ">Eliminar <span> </span>
                <img src="../../../assets/imgs/icons/delete_outline_white_24dp.svg" alt="">
           
            </button>
            <button class="cancel__btn"  >
                
                <img src="../../../assets/imgs/icons/close.svg" alt="">  
            </button>
        </div>
  
    </article>
 

<style>
   
   .datefrom{
        width: 200px;
    }

</style>

</section>

 