<section class='container-menu-home'>

    <div class="logo-menu animate" >
        <img src="../../../assets/imgs/icons/group_add_white_24dp.svg" alt="logo">
    </div>

 

    <article class="title-menu-home">
        <h1 class="animate-fade-up">Gestión de clientes</h1>
    </article>

   
</section>
<app-menu-float  

></app-menu-float>
<div *ngIf="isFormValidated=='false'" class="message-error animate">Todos los campos son requeridos</div>
      
<!--<loading></loading> -->

<section class="container__customers animate">
   
    <article class="container__add ">

         <div class="container__inputs">
           
            <h1 class="title">Nuevo cliente</h1>
            <hr>
            
            <input type="text" placeholder="Nombre completo" [(ngModel)]="formName">
        

         
            <input type="email" placeholder="Email" [(ngModel)]="formEmail">
       
            <div class="container__date">
                <img src="../../../assets/imgs/icons/date_range_black_24dp.svg" alt="">
                <input disabled type="text" placeholder="Fecha" [value]="dateStart">
            </div>
            <button class="btn-add" (click)="addCustomer()">Agregar</button>
           
        </div>
    
    </article>

    

    <article class="container__list__customers ">

          <div class="search__customers">
            <input type="search" placeholder="Search">
           
         </div>  
       
         <div class="container-customers">
          
            <table class="table-customers" *ngIf="customers.length>0">
                <tr class="column-customers" > 
                    <th class="id">ID</th>
                    <th class="name">NOMBRE</th>
                    <th class="email">EMAIL</th>
                    <th class="datefrom">REGISTRADO DESDE</th>
                </tr>

                
               
               
                <tr class="row-customer animate" *ngFor="let customer of customers" (click)="getCustomerByClick(customer)">
                    <td>{{ customer.id }}</td>
                    <td>{{ customer.nombre }}</td>
                    <td>{{ customer.email }}</td>
                    <td>{{ customer.fechaRegistro}}</td>
                </tr>

               
               
            </table>
          
            <!-- <div class="management__data">
                <button><img src="../../../assets/imgs/icons/arrow_back_ios_white_24dp.svg" alt=""></button>
                <p>5</p> <p>of</p> <p>25</p>
                <button><img src="../../../assets/imgs/icons/arrow_forward_ios_white_24dp.svg" alt=""></button>

            </div> -->
            
         </div>
    
    </article>

    <!-- edit customer -->
    <article class="container__edit animate" *ngIf="existContainerEdit==true">

        <div class="container__logo__edit">
            <img src="../../../assets/imgs/icons/edit_white_24dp.svg" alt="">
        </div>
        
        <div class="container__title__edit">
            <h1>Editar</h1>
        </div>



        <div class="container__inputs__edit ">
            <p>Nombre</p>
            <input type="text" placeholder="Name" [(ngModel)]="formEditName">
            <p>Email</p>
            <input type="email" placeholder="Email" [(ngModel)]="formEditEmail">
        </div>


        <div class="container__buttons__edit">
            <button class="edit__btn" (click)="updateCustomer()">Editar
                <span> </span>
                <img src="../../../assets/imgs/icons/edit_white_24dp.svg" alt="">
            </button>
            <button class="delete__btn" (click)="deleteCustomer()">Eliminar <span> </span>
                <img src="../../../assets/imgs/icons/delete_outline_white_24dp.svg" alt="">
           
            </button>
            <button class="cancel__btn" (click)="existContainerEdit=false">Atrás</button>
        </div>
          

    </article>

<style>
   
   .datefrom{
        width: 200px;
    }

</style>

</section>

 