<section class='container-menu-home'>

    <div class="logo-menu animate" >
      
        <img src="../../../assets/imgs/icons/group_add_black_24dp.svg" alt="logo">
    </div>

 

    <article class="title-menu-home">
        <h1 class="animate-fade-up">Gestión de clientes</h1>
    </article>

   
</section>

<!-- menu floating -->
<app-menu-float></app-menu-float>

<div class="add__new__client__button" (click)="existWindowAddClient=true">
    <img src="../../../assets/imgs/icons/add.svg" alt="add">
</div>

 
<!--<loading></loading> -->
<section class="container__customers  ">
   
    <article class="container__add" *ngIf="existWindowAddClient">
       
      
         <div class="container__inputs animate">
          
            <h1 class="title">Nuevo cliente</h1>
            <hr>
         
            <input type="text" placeholder="Nombre completo" [(ngModel)]="formName">
        

         
            <input type="email" placeholder="Email" [(ngModel)]="formEmail">
       
            <div class="container__date">
                <img src="../../../assets/imgs/icons/date_range_black_24dp.svg" alt="">
                <input disabled type="text" placeholder="Fecha" [value]="dateStart">
            </div>
            <button class="btn-add" (click)="addCustomer()">Agregar</button>
            <button class="btn-cancel" (click)="existWindowAddClient=false" >Cancelar</button>
            <div *ngIf="isFormValidated=='false'" class="message-error animate">Todos los campos son requeridos</div>
      
        </div>
     
        </article>
  

    

    <article class="container__list__customers ">

          <div class="search__customers">
            <input type="search" placeholder="Search"  #data (keyup)="searchCustomer(data.value)" >
             
         </div>  
       
         <div class="container-customers">
          
            <table class="table-customers" *ngIf="customers.length>0">
                <tr class="column-customers" > 
                    <th class="id">ID</th>
                    <th class="name">NOMBRE</th>
                    <th class="email">EMAIL</th>
                    <th class="datefrom">REGISTRADO DESDE</th>
                </tr>

                
               
               
                <tr class="row-customer animate" *ngFor="let customer of customers | slice:startPage:nextPage" (click)="getCustomerByClick(customer)">
                    <td>{{ customer.id }}</td>
                    <td>{{ customer.nombre }}</td>
                    <td>{{ customer.email }}</td>
                    <td>{{ customer.fechaRegistro}}</td>
                </tr>
 
            </table>
          
            
            
         </div>
     
    </article>
    <div class="management__data animate">
        <button (click)="backSlidePage()"><img src="../../../assets/imgs/icons/arrow_back.svg" alt=""></button>
        <p> {{ resultOfTableStart }}</p> <p> of </p> <p> {{ lenAllCustomers }} </p>
        <button (click)="nextSliedPage()"><img src="../../../assets/imgs/icons/arrow_next.svg" alt=""></button>

    </div>  
  
    <!-- edit customer -->
    <article class="container__add"  *ngIf="existContainerEdit==true">
       
    <article class="container__edit animate" *ngIf="existContainerEdit==true">

        <div class="container__logo__edit">
            <!-- <img src="../../../assets/imgs/icons/edit_white_24dp.svg" alt=""> -->
        </div>
        
        <div class="container__title__edit">
            <h1>Editar</h1>
        </div>



        <div class="container__inputs__edit ">
            <p>ID</p>
            <input type="number"  disabled  placeholder="ID" [(ngModel)]="formEditId">

            <p>Nombre</p>
            <input type="text" placeholder="Name" [(ngModel)]="formEditName">
            <p>Email</p>
            <input type="email" placeholder="Email" [(ngModel)]="formEditEmail">
        </div>


        <div class="container__buttons__edit">
            <button class="edit__btn" (click)="updateCustomer()">Editar
                <span> </span>
                <img src="../../../assets/imgs/icons/edit_white_24dp.svg" alt="">
            </button>
            <button class="delete__btn" (click)="deleteCustomer()">Eliminar <span> </span>
                <img src="../../../assets/imgs/icons/delete_outline_white_24dp.svg" alt="">
           
            </button>
            <button class="cancel__btn" (click)="existContainerEdit=false">
                
                Cancelar
            </button>
        </div>
          
    </article>
    </article>

<style>
   
   .datefrom{
        width: 200px;
    }

</style>

</section>

 